#summoner-page {
  margin-top: 200px;
}

#summoner-header {
  display: flex;
  flex-direction: column;
  width: 1702px;
  margin: 0 100px;
  /* justify-content: space-around; */
}

#summoner-meta-div {
  border: 1px solid #C89B3C;
  display: flex;
  align-items: center;
}

.light-p {
  margin: 1rem;
  color: #EEE5E9;
}

#summoner-name {
  color: #C89B3C;
  margin: 1rem;
}

.accent-button-a {
  background-color: #2E0E02;
  margin: 1rem;
}

.accent-button-b {
  background-color: #3A506B;
  margin: 1rem;
}

#rankings-div {
  background-color: #EEE5E9;
  margin-top: 1rem;
}

#rankings-tiles-div {
  display: flex;
  justify-content: space-around;

}

#recent-stats-div {
  background-color: #EEE5E9;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0;
  border: 1px solid #C89B3C;
}

#stat-sections-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#matches-div {
  background-color: #EEE5E9;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  border: 1px solid #C89B3C;
}