#summoner-page {
  margin: 200px 100px 0 100px;
  /* width: 1502px; */
}

#summoner-header {
  display: flex;
  flex-direction: column;
  width: 1702px;
  justify-content: space-around;
}

#summoner-meta-div {
  border: 1px solid #C89B3C;
  display: flex;
  align-items: center;
}

.light-p {
  margin: 1rem;
  color: #EEE5E9;
}

#summoner-name {
  color: #C89B3C;
  margin: 1rem;
}

.accent-button-a {
  background-color: #2E0E02;
  margin: 1rem;
}

.accent-button-b {
  background-color: #3A506B;
  margin: 1rem;
}

#rankings-div {
  background-color: #EEE5E9;
  margin-top: 1rem;
  width: 1702px;
  border: 1px solid #C89B3C;
}

#rankings-tiles-div {
  display: flex;
  justify-content: space-around;
}

.rank-img {
  width: 100px;
}

#recent-stats-div {
  background-color: #EEE5E9;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border: 1px solid #C89B3C;
  width: 1702px;
}

#stat-sections-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#matches-div {
  background-color: #EEE5E9;
  display: flex;
  flex-direction: column;
  border: 1px solid #C89B3C;
  width: 1702px;
}

.match-tile {
  display: flex;
  flex-direction: column;
}

.match-player-metadata-div{
  display: flex;
  align-items: center;
  border-top: 2px solid #2E0E02;
  border-bottom: 1px solid#3A506B;
}

.match-player-boarddata-div {
  display: flex;
  align-items: center;
}

.match-player-metadata-div > h6, p {
  margin: 1rem;
}

.match-traits-div {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.trait-img {
  width: 75%;
}

.trait-1-tile, .trait-2-tile, .trait-3-tile, .trait-4-tile, .trait-5-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  height: 40px;
  width: 40px;
}

.trait-5-tile {
  background: url(https://cdn.dak.gg/tft/images2/tft/traits/background/gold.svg?3) center center / cover no-repeat;
}

.trait-4-tile {
  background: url(https://cdn.dak.gg/tft/images2/tft/traits/background/gold.svg?3) center center / cover no-repeat;
}

.trait-3-tile {
  background: url(https://cdn.dak.gg/tft/images2/tft/traits/background/unique.svg?3) center center / cover no-repeat;
}

.trait-2-tile {
  background: url(https://cdn.dak.gg/tft/images2/tft/traits/background/silver.svg?3) center center / cover no-repeat;
}

.trait-1-tile {
 background: url(https://cdn.dak.gg/tft/images2/tft/traits/background/bronze.svg?3) center center / cover no-repeat;
}

.match-augments-div {
  display: flex;
}

.match-units-div {
  display: flex;
  flex-direction: row;
}

.match-units-div > div {
  margin: 1px;
  width: 50px;
}

.match-units-div > div > img {
  width: 40px;
}

.match-units-div > div > p {
  font-size: 10px;
  margin: 2px;
}

.unit-8-tile-div > p {
  /* color: linear-gradient(45deg, aqua, violet); */
  background-clip: text;
  color: transparent; 
  background-image: linear-gradient(to left top, aqua ,  violet );
  background-size: 25% 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.unit-8-tile-div > img {
  border: 1px solid transparent;
  background: linear-gradient(45deg, aqua, violet);
  width: 100%;
}

.unit-6-tile-div > p {
  color: #C89B3C;
}

.unit-6-tile-div > img {
  border: 1px solid #C89B3C;
}

.unit-4-tile-div > p {
  color: purple;
}

.unit-4-tile-div > img {
  border: 2px solid purple;
}

.unit-2-tile-div > p {
  color: navy;
}

.unit-2-tile-div > img {
  border: 2px solid navy;
}

.unit-1-tile-div > p {
  color: green;
}

.unit-1-tile-div > img {
  border: 2px solid green;
}

.unit-0-tile-div > p {
  color: gray;
}

.unit-0-tile-div > img {
  border: 2px solid gray;
}